<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="YaApp"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="YaApp"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="YaApp">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<title data-ng-bind="'Adxmi Offers | Login'"></title>

<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta content="width=device-width, initial-scale=0.5" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<link rel="dns-prefetch" href="http://offers.adxmi.com">
<link rel="dns-prefetch" href="http://www.google-analytics.com">
<link rel="shortcut icon" href="/img/adxmi.ico"/>
<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/> -->
<link href="/assets/v1.0/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/assets/v1.0/global/css/components-md.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/assets/v1.0/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/assets/v1.0/global/plugins/angularjs/plugins/ui-select/select.min.css" rel="stylesheet" type="text/css"/>
<link href="/css/index.css" rel="stylesheet" type="text/css"/>
 <script async="async" type="text/javascript" src='/js/scripts/google-analytics.js'></script>
</head>
<!-- END HEAD -->

<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body >
    <!-- BEGIN PAGE SPINNER -->
        <div>
    <!-- END PAGE SPINNER -->
        <div class="login">
            <!-- BEGIN LOGO -->
            <div class="logo">
                <a href="/">
                <img src="/img/adxmi--umilus.png" alt="ADXMI" class="logo-img"/>
                </a>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN LOGIN -->
            <div class="content" ng-controller='LoginController'>
                <!-- BEGIN LOGIN FORM -->
                <form class="login-form"  ng-show='page_level==0'>
                    <input type="hidden" name="this_is_the_login_form" value="1" />
                    <h3 class="form-title">Login Please</h3>
                    <div class="alert alert-danger form-hide hide" ng-if='login_error'>
                           {{error_mess}}
                       </div>
                    <div class="form-group">
                        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                        <label class="control-label visible-ie8 visible-ie9">Email</label>
                        <div class="input-icon">
                            <i class="fa fa-user"></i>
                            <input class="form-control placeholder-no-fix" type="text" placeholder="Email for login" ng-model='login.username' name="username"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Password</label>
                        <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            <input class="form-control placeholder-no-fix" type="password" placeholder="Password" ng-model='login.password' name="password"/>
                        </div>
                    </div>
                    <div class="form-group has-feedback" ng-if="captcha_enable">
                        <label class="control-label visible-ie8 visible-ie9">Captcha</label>
                        <div class="input-icon">
                            <i class="fa fa-barcode"></i>
                            <input name='captcha' class="form-control captcha" placeholder="Captcha" ng-model="login.captcha" ng-change="verifyCaptcha()" ng-keyup="$event.keyCode==13?Login():''" required>
                            <span ng-class="{true:'captcha-tip green',false:'captcha-tip error'}[captcha_status]"><i aria-hidden="true" ng-class="{true:'fa fa-check',false:'fa fa-times'}[captcha_status]"></i></span>
                            <img class="captcha-img" onclick="this.src='/api/common/get-captcha/'" src="/api/common/get-captcha/" alt="captcha">
                        </div>
                    </div>
                    <div class="form-actions row">
                        <div class='md-checkbox col-md-7'><input type="checkbox" id='remember' name='remember' ng-model='login.remember'  class="md-check"  />
                                <label for="remember">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Remember me</label>
                        </div>
                        <button type="submit" class="btn green pull-right" ng-click='Login()'>
                            Login <i class="fa fa-arrow-circle-o-right"></i>
                        </button>
                    </div>
                    <div class="forget-password">
                        <p>Forgot password ?  <a class='forget' ng-click='page_level = 101'>
                            click here ! </a>
                        </p>
                    </div>
                    <div class="create-account">
                        <h4>Don't have an account yet ?</h4>
                        <p>
                             <a class='aff-text' ng-click='signAs("aff")'> Affiliate Sign Up >> </a>
                             <!-- or
                             <a class='ader-text' ng-click='signAs("ader")'> Advertiser Sign Up </a> -->
                        </p>
                    </div>
                </form>
                <!-- END LOGIN FORM -->
                <form name='registerForm' class="register-form form-hide hide"  ng-show='page_level==1'>
                    <h2 class='form-section' ng-class="{'ader': 'ader-text', 'aff': 'aff-text'}[signAsRole]">{{signAsRole=='ader'?'Advertiser':'Affiliate'}}</h2>
                    <hr/>
                    <div class="form-body">
                        <input class='hide' name='role' value="" ng-model='signAsRole'>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">E-mail for login</label>
                            <div class="input-icon">
                                <i class="fa fa-envelope"></i>
                                <input name='email' type="email" class="form-control" ng-model='regist.username' placeholder="E-mail for login" required>
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label visible-ie8 visible-ie9">Company / Name</label>
                            <div class="input-icon">
                                <i class="fa fa-bank"></i>
                                <input name='company' type="text" class="form-control" ng-model='regist.company' placeholder="Company / Name" required>
                            </div>
                        </div>
                        <div class="form-group country">
                            <label class="control-label visible-ie8 visible-ie9">Country</label>
                            <div class="input-icon">
                                <i class="fa fa-map-marker"></i>
                                <ui-select ng-model="regist.country_obj" theme="bootstrap" ng-disabled="disabled">
                                    <ui-select-match placeholder="All Countries"><img class='flag' src="/assets/v1.0/global/img/flags/{{$select.selected.code.toLowerCase()}}.png"/> {{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in countrys| search: $select.search track by item.code">
                                        <div><img class='flag' src="/assets/v1.0/global/img/flags/{{item.code.toLowerCase()}}.png"/>{{item.name}}</div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">City</label>
                            <div class="input-icon">
                                <i class="fa fa-home"></i>
                                <input name='city' type="text" class="form-control" placeholder="City" ng-model='regist.city' required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">Address</label>
                            <div class="input-icon">
                                <i class="fa fa-send"></i>
                                <input name='address' type="text" class="form-control" ng-model='regist.addr1' placeholder="Address" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">Zipcode</label>
                            <div class="input-icon">
                                <i class="fa fa-tree"></i>
                                <input name='zipcode' type="text" class="form-control" ng-model='regist.zipcode' placeholder="Zipcode" required>
                            </div>
                        </div>
                        <div class="form-group timezone">
                            <label class="control-label visible-ie8 visible-ie9">Timezone</label>
                            <div class="input-icon">
                                <i class="fa fa-clock-o"></i>
                                <ui-select ng-model="regist.tz" theme="bootstrap" ng-disabled="disabled">
                                    <ui-select-match class="timezone-select" placeholder="Timezone"> {{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in timezone_list| filter: $select.search track by item.id">
                                        <div>{{item.name}}</div>
                                    </ui-select-choices>
                                </ui-select>
                                <!-- <select class='form-control word-wrap' placeholder="Timezone" ng-model = "regist.tz" ng-options="item.name for item in timezone_list track by item.id" required></select> -->
                            </div>
                        </div>
                        <div class="form-group contact">
                            <label class="control-label visible-ie8 visible-ie9">Contact Account</label>
                            <div class="input-icon">
                                <ui-select class="contact_type" ng-model="regist.cont" theme="bootstrap" ng-disabled="disabled">
                                    <ui-select-match><i class="fa {{$select.selected.name}}"></i> </ui-select-match>
                                    <ui-select-choices class="contact_list" repeat="item in regist.contact_list| filter: $select.search track by item.id">
                                        <div><i class="fa {{item.name}}"></i></div>
                                    </ui-select-choices>
                                </ui-select>
                                <input name='contact' type="text" class="form-control" ng-model='regist.contact' placeholder="Skype / QQ" style="padding-left: 3px; width: 80%;display:inline;" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">Phone</label>
                            <div class="input-icon">
                                <i class="fa fa-phone"></i>
                                <input name='phone' type="text" class="form-control" ng-model='regist.phone' placeholder="Phone" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">Password</label>
                            <div class="input-icon">
                                <i class="fa fa-lock"></i>
                                <input name='password' id='regform-password' type="password" class="form-control" ng-model='regist.password' placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">Confirm Password</label>
                            <div class="input-icon">
                                <i class="fa fa-lock"></i>
                                <input name='confirm_password' ng-model='regist.confirm_password' type="password" class="form-control" placeholder="Confirm Password" ng-keyup="$event.keyCode==13?signNext():''" required>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="alert alert-danger hide" id='form-error'
                        ng-class="{true:'show', false:'hide'}[has_error==1]"
                        >
                        button class="close" data-dismiss="alert"></button
                        <span id='error-msg'>error</span>
                    </div> -->
                    <div class="form-actions">
                        <button type="button" class="btn register-back-btn" ng-click='page_level = 0;signAsRole=null;'>
                        <i class="fa fa-arrow-circle-o-left"></i> Back</button>
                        <button type="button" class="btn pull-right yellow" ng-click='signNext()'>
                        Next <i class="fa fa-arrow-circle-o-right"></i></button>
                        <!-- <button type='submit' class="btn pull-right" ng-class="{'ader':'green', 'aff':'yellow'}[signAsRole]" ng-click='signUp()'>
                            <i class="fa fa-check-square-o"></i>Sign as {{signAsRole=='ader'?'Ader':'Aff'}}
                        </button> -->
                    </div>
                    <div class="form-actions"></div>
                </form>
                <form class='question-form form-hide hide' ng-show='page_level==6'  id='question-form'>
                    <h3 class='form-section header'>Questions</h3>
                    <div class="form-body">
                        <div class="alert alert-danger" ng-if='signup_error'>
                           <strong>Sorry!</strong> {{error_mess}}
                       </div>
                        <label class="control-label">1. From who or where did you hear about us?  *</label>
                        <div class="form-group">
                            <div class="input-icon">
                                <input name="Q1" class="form-control" ng-model="q1" required>
                            </div>
                        </div>
                        <label class="control-label">2. How long have you been in mobile marketing? </label>
                        <div class="form-group">
                            <div class="input-icon">
                                <input name="Q2" class="form-control" ng-model="q2">
                            </div>
                        </div>
                        <label class="control-label">3. What kind of offers do you want to promote? </label>
                        <div class="form-group">
                            <div class="input-icon">
                                <input name="Q3" class="form-control" ng-model="q3">
                            </div>
                        </div>
                        <label class="control-label">4. What other networks do you work with? </label>
                        <div class="form-group">
                            <div class="input-icon">
                                <input name="Q4" class="form-control" ng-model="q4">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">Captcha</label>
                            <div class="input-icon">
                                <i class="fa fa-barcode"></i>
                                <input name='captcha' class="form-control captcha" ng-model="regist.captcha" placeholder="Captcha" ng-change="verifyCaptcha()" required>
                                <span ng-class="{true:'captcha-tip green',false:'captcha-tip error'}[captcha_status]"><i aria-hidden="true" ng-class="{true:'fa fa-check',false:'fa fa-times'}[captcha_status]"></i></span>
                                <img class="captcha-img" onclick="this.src='/api/common/get-captcha/'" src="/api/common/get-captcha/" alt="captcha">
                            </div>
                        </div>
                        <div class="form-actions row">
                            <div class='md-checkbox col-md-12'><input type="checkbox" id='terms' name='terms' class="md-check" required/>
                                <label for="terms">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    I agree the <a href="https://www.adxmi.com/terms" target="_blank">Terms & Conditions</a> of ADXML.</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="button" class="btn" ng-click='page_level = 1;'>
                        <i class="fa fa-arrow-circle-o-left"></i> Back </button>
                        <button type='submit' class="btn pull-right" ng-class="{'ader':'green', 'aff':'yellow'}[signAsRole]" ng-click='signUp()'>
                            <i class="fa fa-check-square-o"></i>Sign as {{signAsRole=='ader'?'Ader':'Aff'}}
                        </button>
                    </div>
                </form>
                <form class='verify-form form-hide hide' ng-show='page_level==2'  id='verify-form'>
                    <h3 class='form-section'>Verify Your Mailbox Please!</h3>
                    <div class="form-body">
                        <div class="login-options">
                            <p>
                                <span>We have send you an email.Please check your email and verify.</span>
                            </p>
                            <p>
                                Can not receive ? <a href="javascript:;" ng-click="onVerify('Success')">Send again</a>.
                            </p>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="button" class="btn" ng-click='page_level = 0;'>
                        <i class="fa fa-arrow-circle-o-left"></i> Back </button>
                    </div>
                </form>

                <!-- BEGIN FORGOT PASSWORD FORM -->
                <form class="forget-form form-hide hide" id='forget-form' ng-show = 'page_level == 101'>
                    <h3>Forget Password ?</h3>
                    <p>
                         Enter your e-mail address below to reset your password.
                    </p>
                    <div class="form-group">
                        <div class="input-icon">
                            <i class="fa fa-envelope"></i>
                            <input class="form-control placeholder-no-fix" type="email" autocomplete="off" placeholder="Email" name="email" ng-model='verify_email' />
                        </div>
                        <div class='warn' ng-if='verify_error'>{{error_mess}}</div>
                    </div>
                    <div class="form-actions">
                        <button type="button" id="forget-back-btn" class="btn" ng-click='page_level=0;'>
                        <i class="fa fa-arrow-circle-o-left"></i> Back </button>
                        <button type="submit" class="btn blue pull-right" ng-click='onVerify("Attention")'>
                        Submit <i class="fa fa-arrow-circle-o-right m-icon-white"></i>
                        </button>
                    </div>
                </form>
                <form class="result-form form-hide hide" id='result-form' ng-show='page_level == 102'>
                    <h3 id='result-title'></h3>
                    <p id='result-text'></p>
                </form>
                <form class='thanks-form form-hide hide' role='form' id='thanks-form' ng-show='page_level == 103'>
                    <h3 class='form-section'>Thanks for your registration.</h3>
                    <div class="form-body">
                        <div class="login-options">
                            <p>
                                <span>We have send you an email.</span>
                                <span>Please check your email and verify.</span>
                            </p>
                            <!-- <p>
                                Can not receive ? <a href="javascript:;" ng-click='onVerify("Success")'>Send again.</a>
                            </p> -->
                            <div class='warn' ng-if='verify_error'>{{error_mess}}</div>
                        </div>
                         <div class="form-actions">
                            <button type="button" class="btn" ng-click='page_level=0'>
                            <i class="fa fa-arrow-circle-o-left"></i> Back </button>
                        </div>
                    </div>
                </form>
                <!-- END FORGOT PASSWORD FORM -->
            </div>
            <div class="copyright">
                 2015 &copy; Offers by Adxmi.
            </div>
        </div>
    </div>


    <!-- BEGIN CORE JQUERY PLUGINS -->
    <!--[if lt IE 9]>
    <script src="/assets/v1.0/global/plugins/respond.min.js"></script>
    <script src="/assets/v1.0/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <script src="/assets/v1.0/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/assets/v1.0/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>
    
    <script src="/js/scripts/angulartics.min.js"></script>
    <script src="/js/scripts/angulartics-ga.min.js"></script>
    <script src="/js/scripts/angulartics-gtm.min.js"></script>
    <script src="/assets/v1.0/global/plugins/angularjs/angular-sanitize.min.js" type="text/javascript"></script>
    <script type="text/javascript" src='js/scripts/angular-cookie.min.js'></script>
    <script src="/assets/v1.0/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
    <script src="/js/scripts/ls.storage.js" type="text/javascript"></script>
    <script src="/assets/v1.0/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="/assets/v1.0/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src='js/scripts/select.js' type="text/javascript"></script>
    <script src="js/metronic.js" type="text/javascript"></script>
    <script src="/assets/v1.0/admin/layout4/scripts/layout.js" type="text/javascript"></script>
    

    <script type="text/javascript" src='/assets/v1.0/global/plugins/jquery-validation/js/jquery.validate.min.js'></script>
    <script src="/assets/v1.0/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
    
    <!-- END CORE JQUERY PLUGINS -->
    <!-- BEGIN CORE ANGULARJS PLUGINS -->
    <script src='js/controllers/LoginController.js' type="text/javascript"></script>
    <script src="js/services/factory.js" type="text/javascript"></script>

    <script type="text/javascript">
        /* Init Metronic's core jquery plugins and layout scripts */
        $(document).ready(function() {
            Metronic.init(); // Run metronic theme
            Metronic.setAssetsPath('/assets/'); // Set the assets folder path
        });
    </script>
</body>
<!-- END BODY -->
</html>
